Ketua

NPM     : 200411100101

Nama    : Abd. Hanif Azhari

Anggota

NPM     : 200411100051

Nama    : Zuni Amanda Dewi

Github Ketua : https://github.com/ABDHanifAzhari/UASProsaindata

Link Aplikasi : https://abdhanifazhari-kolaborasipro-app-streamlit-0kmey4.streamlit.app/

In [96]:
import pandas as pd
import numpy as np
from numpy import array
from sklearn.preprocessing import MinMaxScaler

In [97]:
data=pd.read_csv("BMRI.JK.csv")
data

           Date    Open    High     Low   Close    Adj Close       Volume
0    2022-06-15  4062.5  4162.5  4062.5  4150.0  3948.463623  142400800.0
1    2022-06-16  4250.0  4250.0  4150.0  4187.5  3984.142334  186692600.0
2    2022-06-17  4087.5  4125.0  4037.5  4037.5  3841.426758  156836200.0
3    2022-06-20  4050.0  4125.0  4025.0  4125.0  3924.677490   74978200.0
4    2022-06-21  4150.0  4175.0  4100.0  4125.0  3924.677490   62996600.0
..          ...     ...     ...     ...     ...          ...          ...
243  2023-06-09  5025.0  5125.0  5000.0  5125.0  5125.000000  150849200.0
244  2023-06-12  5100.0  5125.0  5050.0  5100.0  5100.000000   91080300.0
245  2023-06-13  5100.0  5175.0  5050.0  5100.0  5100.000000  143804700.0
246  2023-06-14     NaN     NaN     NaN     NaN          NaN          NaN
247  2023-06-15  5050.0  5075.0  5050.0  5075.0  5075.000000    8330500.0

[248 rows x 7 columns]

In [98]:
databersih = data.dropna()
databersih

           Date    Open    High     Low   Close    Adj Close       Volume
0    2022-06-15  4062.5  4162.5  4062.5  4150.0  3948.463623  142400800.0
1    2022-06-16  4250.0  4250.0  4150.0  4187.5  3984.142334  186692600.0
2    2022-06-17  4087.5  4125.0  4037.5  4037.5  3841.426758  156836200.0
3    2022-06-20  4050.0  4125.0  4025.0  4125.0  3924.677490   74978200.0
4    2022-06-21  4150.0  4175.0  4100.0  4125.0  3924.677490   62996600.0
..          ...     ...     ...     ...     ...          ...          ...
242  2023-06-08  5000.0  5075.0  5000.0  5025.0  5025.000000  173484200.0
243  2023-06-09  5025.0  5125.0  5000.0  5125.0  5125.000000  150849200.0
244  2023-06-12  5100.0  5125.0  5050.0  5100.0  5100.000000   91080300.0
245  2023-06-13  5100.0  5175.0  5050.0  5100.0  5100.000000  143804700.0
247  2023-06-15  5050.0  5075.0  5050.0  5075.0  5075.000000    8330500.0

[247 rows x 7 columns]

In [99]:
temp=datapakai["Volume"]
temp

0      142400800.0
1      186692600.0
2      156836200.0
3       74978200.0
4       62996600.0
          ...
242    173484200.0
243    150849200.0
244     91080300.0
245    143804700.0
247      8330500.0
Name: Volume, Length: 247, dtype: float64

In [100]:
n = len(temp)
sizeTrain = (round(n*0.8))
data_train = pd.DataFrame(temp[:sizeTrain])
data_test = pd.DataFrame(temp[sizeTrain:])
len(data_train)
sizeTrain

198

In [101]:
scaler = MinMaxScaler()
scaled = scaler.fit_transform(data_train)
scaled_train = pd.DataFrame(scaled)
scaled_train

            0
0    0.178492
1    0.236445
2    0.197380
3    0.090273
4    0.074596
..        ...
193  0.336065
194  0.169420
195  0.285484
196  0.052793
197  0.164008

[198 rows x 1 columns]

In [102]:
scaled = scaler.fit_transform(data_test)
scaled_test = pd.DataFrame(scaled)
scaled_test

           0
0   0.554807
1   0.372322
2   0.248104
3   0.257194
4   0.104468
5   0.217129
6   0.242326
7   0.223536
8   0.089062
9   0.102928
10  0.172435
11  0.076320
12  0.268733
13  0.154637
14  0.348073
15  0.226928
16  0.255917
17  0.516359
18  0.110911
19  0.281852
20  0.232725
21  0.265571
22  0.240306
23  0.145740
24  0.146203
25  0.221067
26  0.129261
27  0.142530
28  0.251882
29  0.176752
30  0.089313
31  0.142879
32  0.182066
33  0.289816
34  0.407892
35  0.304212
36  0.176680
37  0.088175
38  0.135744
39  0.105747
40  1.000000
41  0.365487
42  0.613017
43  0.316753
44  0.428519
45  0.369789
46  0.214708
47  0.351511
48  0.000000

In [103]:
# split a univariate sequence into samples
def split_sequence(sequence, n_steps):
  X, y = list(), list()
  for i in range(len(sequence)):
    # find the end of this pattern
    end_ix = i + n_steps
    # check if we are beyond the sequence
    if end_ix > len(sequence)-1:
      break
    # gather input and output parts of the pattern
    seq_x, seq_y = sequence[i:end_ix], sequence[end_ix]
    X.append(seq_x)
    y.append(seq_y)
  return array(X), array(y)

In [104]:
# transform to a supervised learning problem
X, y = split_sequence(scaled_train[0], 3)
print(X.shape, y.shape)
dfX = pd.DataFrame(X, columns=["Xt-3","Xt-2", "Xt-1"])
dfy = pd.DataFrame(y, columns=["Xt"])

df = pd.concat((dfX, dfy), axis = 1)
df

(195, 3) (195,)

         Xt-3      Xt-2      Xt-1        Xt
0    0.178492  0.236445  0.197380  0.090273
1    0.236445  0.197380  0.090273  0.074596
2    0.197380  0.090273  0.074596  0.107713
3    0.090273  0.074596  0.107713  0.056043
4    0.074596  0.107713  0.056043  0.071510
..        ...       ...       ...       ...
190  0.132867  0.113628  0.243257  0.336065
191  0.113628  0.243257  0.336065  0.169420
192  0.243257  0.336065  0.169420  0.285484
193  0.336065  0.169420  0.285484  0.052793
194  0.169420  0.285484  0.052793  0.164008

[195 rows x 4 columns]

In [105]:
# ambil data
X_train = df.drop(columns="Xt")
y_train = df.Xt
y_train

0      0.090273
1      0.074596
2      0.107713
3      0.056043
4      0.071510
         ...
190    0.336065
191    0.169420
192    0.285484
193    0.052793
194    0.164008
Name: Xt, Length: 195, dtype: float64

In [106]:
# transform to a supervised learning problem
X, y = split_sequence(scaled_test[0], 3)
print(X.shape, y.shape)
dfX = pd.DataFrame(X, columns=["Xt-3","Xt-2", "Xt-1"])
dfy = pd.DataFrame(y, columns=["Xt"])

df_test = pd.concat((dfX, dfy), axis = 1)
df_test

(46, 3) (46,)

        Xt-3      Xt-2      Xt-1        Xt
0   0.554807  0.372322  0.248104  0.257194
1   0.372322  0.248104  0.257194  0.104468
2   0.248104  0.257194  0.104468  0.217129
3   0.257194  0.104468  0.217129  0.242326
4   0.104468  0.217129  0.242326  0.223536
5   0.217129  0.242326  0.223536  0.089062
6   0.242326  0.223536  0.089062  0.102928
7   0.223536  0.089062  0.102928  0.172435
8   0.089062  0.102928  0.172435  0.076320
9   0.102928  0.172435  0.076320  0.268733
10  0.172435  0.076320  0.268733  0.154637
11  0.076320  0.268733  0.154637  0.348073
12  0.268733  0.154637  0.348073  0.226928
13  0.154637  0.348073  0.226928  0.255917
14  0.348073  0.226928  0.255917  0.516359
15  0.226928  0.255917  0.516359  0.110911
16  0.255917  0.516359  0.110911  0.281852
17  0.516359  0.110911  0.281852  0.232725
18  0.110911  0.281852  0.232725  0.265571
19  0.281852  0.232725  0.265571  0.240306
20  0.232725  0.265571  0.240306  0.145740
21  0.265571  0.240306  0.145740  0.146203
22  0.240306  0.145740  0.146203  0.221067
23  0.145740  0.146203  0.221067  0.129261
24  0.146203  0.221067  0.129261  0.142530
25  0.221067  0.129261  0.142530  0.251882
26  0.129261  0.142530  0.251882  0.176752
27  0.142530  0.251882  0.176752  0.089313
28  0.251882  0.176752  0.089313  0.142879
29  0.176752  0.089313  0.142879  0.182066
30  0.089313  0.142879  0.182066  0.289816
31  0.142879  0.182066  0.289816  0.407892
32  0.182066  0.289816  0.407892  0.304212
33  0.289816  0.407892  0.304212  0.176680
34  0.407892  0.304212  0.176680  0.088175
35  0.304212  0.176680  0.088175  0.135744
36  0.176680  0.088175  0.135744  0.105747
37  0.088175  0.135744  0.105747  1.000000
38  0.135744  0.105747  1.000000  0.365487
39  0.105747  1.000000  0.365487  0.613017
40  1.000000  0.365487  0.613017  0.316753
41  0.365487  0.613017  0.316753  0.428519
42  0.613017  0.316753  0.428519  0.369789
43  0.316753  0.428519  0.369789  0.214708
44  0.428519  0.369789  0.214708  0.351511
45  0.369789  0.214708  0.351511  0.000000

In [107]:
# ambil data
X_test = df_test.drop(columns="Xt")
y_test = df_test.Xt
X_test

        Xt-3      Xt-2      Xt-1
0   0.554807  0.372322  0.248104
1   0.372322  0.248104  0.257194
2   0.248104  0.257194  0.104468
3   0.257194  0.104468  0.217129
4   0.104468  0.217129  0.242326
5   0.217129  0.242326  0.223536
6   0.242326  0.223536  0.089062
7   0.223536  0.089062  0.102928
8   0.089062  0.102928  0.172435
9   0.102928  0.172435  0.076320
10  0.172435  0.076320  0.268733
11  0.076320  0.268733  0.154637
12  0.268733  0.154637  0.348073
13  0.154637  0.348073  0.226928
14  0.348073  0.226928  0.255917
15  0.226928  0.255917  0.516359
16  0.255917  0.516359  0.110911
17  0.516359  0.110911  0.281852
18  0.110911  0.281852  0.232725
19  0.281852  0.232725  0.265571
20  0.232725  0.265571  0.240306
21  0.265571  0.240306  0.145740
22  0.240306  0.145740  0.146203
23  0.145740  0.146203  0.221067
24  0.146203  0.221067  0.129261
25  0.221067  0.129261  0.142530
26  0.129261  0.142530  0.251882
27  0.142530  0.251882  0.176752
28  0.251882  0.176752  0.089313
29  0.176752  0.089313  0.142879
30  0.089313  0.142879  0.182066
31  0.142879  0.182066  0.289816
32  0.182066  0.289816  0.407892
33  0.289816  0.407892  0.304212
34  0.407892  0.304212  0.176680
35  0.304212  0.176680  0.088175
36  0.176680  0.088175  0.135744
37  0.088175  0.135744  0.105747
38  0.135744  0.105747  1.000000
39  0.105747  1.000000  0.365487
40  1.000000  0.365487  0.613017
41  0.365487  0.613017  0.316753
42  0.613017  0.316753  0.428519
43  0.316753  0.428519  0.369789
44  0.428519  0.369789  0.214708
45  0.369789  0.214708  0.351511

In [108]:
#KNN
from sklearn.neighbors import KNeighborsRegressor

neigh = KNeighborsRegressor(n_neighbors=3)
modelknn = neigh.fit(X_train, y_train)

In [109]:
y_pred = neigh.predict(X_test)
y_actual = scaler.inverse_transform(np.array(y_test).reshape(-1, 1))
y_prediksi = scaler.inverse_transform(y_pred.reshape(-1, 1))
print(y_actual)
print(y_prediksi)

[[1.074546e+08]
 [4.859310e+07]
 [9.201320e+07]
 [1.017244e+08]
 [9.448260e+07]
 [4.265550e+07]
 [4.799940e+07]
 [7.478780e+07]
 [3.774480e+07]
 [1.119015e+08]
 [6.792850e+07]
 [1.424798e+08]
 [9.578990e+07]
 [1.069623e+08]
 [2.073380e+08]
 [5.107630e+07]
 [1.169578e+08]
 [9.802410e+07]
 [1.106830e+08]
 [1.009459e+08]
 [6.449950e+07]
 [6.467800e+07]
 [9.353100e+07]
 [5.814820e+07]
 [6.326230e+07]
 [1.054073e+08]
 [7.645170e+07]
 [4.275220e+07]
 [6.339670e+07]
 [7.849980e+07]
 [1.200272e+08]
 [1.655341e+08]
 [1.255753e+08]
 [7.642410e+07]
 [4.231370e+07]
 [6.064690e+07]
 [4.908610e+07]
 [3.937359e+08]
 [1.491913e+08]
 [2.445905e+08]
 [1.304087e+08]
 [1.734842e+08]
 [1.508492e+08]
 [9.108030e+07]
 [1.438047e+08]
 [8.330500e+06]]
[[9.49629329e+07]
 [7.81300635e+07]
 [7.07879325e+07]
 [8.59432604e+07]
 [8.20314511e+07]
 [5.34903849e+07]
 [1.63551280e+08]
 [4.85910252e+07]
 [6.30392164e+07]
 [5.06639903e+07]
 [9.30268297e+07]
 [5.70444909e+07]
 [6.15767340e+07]
 [6.60454714e+07]
 [5.85148401e+07]
 [8.39338683e+07]
 [8.52904517e+07]
 [5.79676278e+07]
 [7.15393113e+07]
 [5.85148401e+07]
 [5.89543715e+07]
 [1.95539612e+08]
 [8.00146292e+07]
 [1.11022403e+08]
 [4.95430406e+07]
 [5.72915214e+07]
 [1.11022403e+08]
 [5.34189115e+07]
 [2.49132459e+07]
 [3.85365678e+07]
 [6.67838734e+07]
 [1.14913402e+08]
 [8.39338683e+07]
 [1.11558353e+08]
 [9.49629329e+07]
 [1.50545064e+08]
 [3.15558382e+07]
 [6.51873530e+07]
 [8.66195349e+07]
 [5.76166818e+07]
 [5.71613832e+07]
 [1.11558353e+08]
 [7.81300635e+07]
 [9.19438692e+07]
 [1.08023612e+08]
 [5.85148401e+07]]

In [110]:
from sklearn.metrics import mean_absolute_percentage_error
mape=mean_absolute_percentage_error(y_prediksi, y_actual)
print(mape)

0.7556969153446752

In [111]:
from sklearn import tree

clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)

ValueError: Unknown label type: 'continuous'